# Video Gambling Data and Pandas üßê
<img src="https://media.tegna-media.com/assets/WQAD/images/01c4abef-ca79-4b9b-b3f7-2ad2e856b34b/01c4abef-ca79-4b9b-b3f7-2ad2e856b34b_750x422.jpg" width="460"/>

### *Video gambling, in Illinois, was legalized in 2012.*

>Since then, it has become a boon for local bars, restaurants, and communities with declining tax revenue, but comes with public health concerns of gambling addition.
Because of this Video Gambling is a frequent issue voted on by municipal governments in Illinois. 

>Video Gambling is closely monitored by the [Illinois Gaming Board](https://www.igb.illinois.gov/) and has been the subject of much reporting by local news agencies.

**Let's use our skills with Pandas to investigate this topic.**

In [1]:
# Run this cell unchanged

# if you get a long error msg:
# - restart the kernal 
# (click the circular arrow icon right below the tab for the notebook)
# - make a new cell above this one and import pandas as pd there

import pandas as pd
from IPython.display import display, Markdown

def markdown(text):
    display(Markdown(text))

#used for tests
#testing
from test_scripts.test_class import Test
import numpy as np

testing = Test()

**Our data is located** within the ```data``` folder of this repo.

It is titled ```2019-il-vgambling.csv```

<u>In the cell below:</u> 
1. Set the ```path``` variable to the path ```./data/2019-il-vgambling.csv```. 
    - (reverse the slashes if you're on Windows)
2. Run the cell to import our dataset.

In [4]:
path = './data/2019-il-vgambling.csv'
data = pd.read_csv(path)

**Ok,** let's print out the first 5 rows using the ```.head()``` method.

In [5]:
# Your code here
data.head()

,Municipality,Establishment Count,Terminal Count,Amount Played,Amount Won,Nti Tax,State Share,Municipality Share
0,Oregon,13,58,30182428.57,27583763.32,818444.23,688505.69,129938.54
1,Oakwood Hills,1,4,216669.74,199790.23,5281.38,4433.69,847.69
2,Merrionette Park,4,17,26567816.26,24324921.75,706616.85,594470.85,112146.00
3,Ashkum,2,8,2289711.66,2113123.06,55674.55,46845.11,8829.44
4,Grandview,5,25,13713301.51,12475853.83,390048.01,328175.50,61872.51

<center><u><h3>Column Descriptions</h3><u></center>


| Column Name         	| Description                                                                                                                                                               	|
|:---------------------	|:---------------------------------------------------------------------------------------------------------------------------------------------------------------------------	|
| Municipality        	| The community's name                                                                                                                                                      	|
| Establishment Count 	| Number of businesses with video gambling licenses                                                                                                                         	|
| Terminal Count      	| Number of video gambling machines in the community.                                                                                                                       	|
| Amount Played       	| Total amount spent on video gambling by players.                                                                                                                          	|
| Amount Won          	| Total amount won by players                                                                                                                                               	|
| Nti Tax             	| The Net Terminal Income Tax Rate <br>is 30% of the Net Terminal Income. <br>The funds are divided between<br>the State of Illinois and local <br>governmental organizations. 	|
| State Share         	| Total revenue received by the State Government                                                                                                                            	|
| Municipality Share  	| Total revenue received by the Municipality                                                                                                                                	|

**When examining data at the municipal level,** it is common to <i><u>scale</u></i> our data according to the municipality's population. 
>This is often referred to as scaling our data *per capita*. 

To do this let's import some population data for Illinois Municipalities.

In the cell below: 
1. Set the ```path``` variable to the path for the ```population.csv``` file within the ```data``` folder.
2. Run the cell to import our population data.

In [6]:
path = './data/population.csv'
pop = pd.read_csv(path)

**Cool Cool**, let's print out the first 5 rows using the ```.head()``` method.

In [7]:
# Your Code here
pop.head()

   Unnamed: 0   Municipality Population
0           0      Champaign     86,791
1           1     Carbondale     25,846
2           2  Prairie Grove      1,826
3           3         Macomb     18,118
4           4      Brimfield        965

Let's remove the ```Unnamed: 0``` column.

In [8]:
pop.drop('Unnamed: 0', axis = 1, inplace = True)

We need to merge our two datasets. 

**When merging** datasets, it's important to check the length of our datasets before and after merging to make sure we are not losing too much data.

<u>In the cell below:</u>
1. Set the variable ```length_before_merge``` to the length of our ```data``` dataframe using python's built in ```len``` function

In [9]:
# Your code here
length_before_merge = len(data)


# Run Code below without change
string = '''<u>Length before merge:</u> **{}**'''.format(length_before_merge)
markdown(string)

<u>Length before merge:</u> **835**

*Merge Time*


<u>In the cell below:</u>
1. [Merge](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.merge.html) the two dataframes on the ```Municipality``` column.
    - Save the merged dataframe as the variable ```df```

In [10]:
# Your code here
df = data.merge(pop, on = 'Municipality')
df.head()

,Municipality,Establishment Count,Terminal Count,Amount Played,Amount Won,Nti Tax,State Share,Municipality Share,Population
0,Oregon,13,58,30182428.57,27583763.32,818444.23,688505.69,129938.54,"3,683"
1,Oakwood Hills,1,4,216669.74,199790.23,5281.38,4433.69,847.69,"2,245"
2,Merrionette Park,4,17,26567816.26,24324921.75,706616.85,594470.85,112146.00,"2,163"
3,Ashkum,2,8,2289711.66,2113123.06,55674.55,46845.11,8829.44,800
4,Grandview,5,25,13713301.51,12475853.83,390048.01,328175.50,61872.51,"1,453"

Now we need to check the length of our dataframe to make sure we didn't lose data! 

<u>In the cell below:</u>
1. Set the ```length_after_merge``` variable to the length of ```df```.

In [11]:
# Your code here
length_after_merge = len(df)


# Run Code below without change
string = '''<u>Length after merge:</u> **{}**'''.format(length_after_merge,)
markdown(string)

<u>Length after merge:</u> **835**

In the cell below, set the Municipality column as the index using the ```.set_index()``` method.

In [14]:
# Your code here
df.set_index('Municipality', inplace = True)

Let's sort our index alphabetically using [this](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.sort_index.html) method.

In [15]:
# Your code here
df.sort_index()

,Establishment Count,Terminal Count,Amount Played,Amount Won,Nti Tax,State Share,Municipality Share,Population
Municipality,,,,,,,,
Abingdon,4,16,6492446.76,5968296.97,165040.02,138832.38,26207.64,"3,452"
Addieville,1,5,939917.34,860520.60,25020.09,21050.20,3969.89,344
Addison,23,111,88623932.26,80762581.15,2476573.63,2083474.53,393099.10,"37,089"
Albany,2,7,2030709.60,1855397.39,55473.53,46707.84,8765.69,979
Albers,1,4,1546280.29,1419896.70,39710.50,33391.29,6319.21,"1,184"
...,...,...,...,...,...,...,...,...
Wyoming,4,14,5175796.61,4750570.47,134733.65,113472.25,21261.40,"1,365"
Yates City,2,9,2312753.96,2112213.03,62885.85,52858.72,10027.13,739
Yorkville,17,82,34644816.40,31807129.97,891425.19,749532.91,141892.28,"19,145"
Zeigler,2,10,6313807.67,5800470.01,161690.11,136023.12,25666.99,"1,836"
Zion,8,40,55554420.63,50732129.76,1519326.98,1278211.05,241115.93,"24,047"

To make things easier on ourselves, let's reformat our column names.

<u>In the cell below:</u>
1. Replace spaces with underscores for each column name
2. Lower each column name
>Bonus points if you do this via list comphrension üòÉ

In [17]:
# Your code here
df.columns = [x.replace(' ', '_').lower() for x in df.columns]
df.head()

,establishment_count,terminal_count,amount_played,amount_won,nti_tax,state_share,municipality_share,population
Municipality,,,,,,,,
Oregon,13,58,30182428.57,27583763.32,818444.23,688505.69,129938.54,"3,683"
Oakwood Hills,1,4,216669.74,199790.23,5281.38,4433.69,847.69,"2,245"
Merrionette Park,4,17,26567816.26,24324921.75,706616.85,594470.85,112146.00,"2,163"
Ashkum,2,8,2289711.66,2113123.06,55674.55,46845.11,8829.44,800
Grandview,5,25,13713301.51,12475853.83,390048.01,328175.50,61872.51,"1,453"

<center><i><h1>So much cleaning</h1></i></center>


![](https://media.giphy.com/media/3o7WIE14z2d66BJWJa/giphy.gif)

--------

Ok Ok, we're almost done formatting our data.

<u>In the cell below:</u> 
1. Print out the datatypes for each of our columns using the ```.info()``` method.

In [18]:
# Your code here
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 835 entries, Oregon to Minier
Data columns (total 8 columns):
establishment_count    835 non-null int64
terminal_count         835 non-null int64
amount_played          835 non-null float64
amount_won             835 non-null float64
nti_tax                835 non-null float64
state_share            835 non-null float64
municipality_share     835 non-null float64
population             835 non-null object
dtypes: float64(5), int64(2), object(1)
memory usage: 58.7+ KB

Our ```population``` column contains commas which is causing the computer to interpret the column as a string.

<u>In the cell below:</u>
1. Remove the commas from the column using the ```.apply``` method
>**If your confused:** Find the answer relating to ```.apply()``` in this [Stack Overflow](https://stackoverflow.com/questions/56947333/how-to-remove-commas-from-all-the-column-in-pandas-at-once/56947424#56947424?newreg=3c19aff3bd5146a19f7787afedc243a2) thread.
2. Convert the column datatype to integer

    - Bonus points if you can do steps 1 & 2 with 1Ô∏è‚É£ line of code! üòª

In [21]:
# Your code here
df.population = df.population.apply(lambda x: int(x.replace(',', '')))

# Cleaning Complete!

<img src="https://media.giphy.com/media/hEZIaecxpR78I/giphy.gif" width=400/>

#### Ok Ok! 

Let's create a column that shows the number of gambling terminals per capita!

<u>In the cell below:</u>
1. Create a new column called ```terminals_percapita``` by dividing ```terminal_count``` by ```population```

In [25]:
# Your code here
df['terminals_percapita'] = df.terminal_count / df.population

Now let's identify which communities have the highest number of gambling devices per capita. 


<u>In the cell(s) below:</u>
1. [Sort](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.sort_values.html) the dataframe according to the ```terminals_percapita``` column.
2. Identify the 10 communities with the highest number of gambling machines per capita.
3. Save those 10 community names in a list called ```highest_machines_percapita```

In [41]:
# Your code here
highest_machines_percapita = list(df.sort_values(by='terminals_percapita',ascending = False).head(10).index)

Run the cell below to see if you identified the correct Municipalities!

In [42]:
testing.run_test(highest_machines_percapita, 'highest_machines_percapita')

‚úÖ **Hey, you did it.  Good job.**

**Next,** let's figure out how much money players lost for each municipality.

<u>In the cell below:</u>
1. Create a new column called ```amount_lost``` that is the difference between the ```amount_played``` and ```amount_won``` columns

In [45]:
# Your code here
df['amount_lost'] = df.amount_played - df.amount_won

<u>In the cell below:</u>
1. Save the mean of the ```amount_loss``` column as the variable ```average_loss```.
2. Using numpy, round the ```average_loss``` variable to 2 decimal points.
    - Save the rounded number as the variable ```average_loss_rounded```

In [57]:
# Your code here

average_loss = df.amount_lost.mean()
average_loss_rounded = round(average_loss, 2)
average_loss_rounded

1816880.05

Let's zoom in on this new loss data. 

<u>In the cell below:</u>
1. Create a new column called ```loss_percapita``` that is the division of the ```amount_lost``` and ```population```

In [53]:
# Your code here
df['loss_percapita'] = round(df.amount_lost / df.population, 2)

<u>In the cell below</u>
1. Sort the dataframe by ```loss_percapita``` and save the 10 communities with the highest loss per capita to a list called ```highest_loss_percapita```

In [62]:
# Your code here
highest_loss_percapita = list(df.loss_percapita.sort_values(ascending = False).head(10).index)

Run the cell below to see if you idenitified the correct municipalities!

In [63]:
testing.run_test(highest_loss_percapita, 'highest_loss_percapita')

‚úÖ **Hey, you did it.  Good job.**

<u>In the cell below:</u>
1. Filter our dataframe to contain municipalities with a ```loss_percapita``` of 406 or greater. 
    - Save this filtered dataframe as ```high_loss_percapita```
2. Filter our dataframe to contain municipalities with a ```loss_percapita``` of 155 or less.
    - Save this filtered dataframe as ```low_loss_percapita```
3. Identify the mean population for the municipalities with a high per capita loss
    - Using numpy, round this data point to 2 decimals
    - Save this data point as the variable ```high_loss_average_population```

4. Identify the mean population for the municipalities with a low per capita loss.
    - Using numpy round this data point to 2 decimals
    - Save this data point as the variable ```low_loss_average_population```

In [66]:
# Your code here
high_loss_percapita = df.loc[df.loss_percapita > 406]
low_loss_percapita = df.loc[df.loss_percapita < 155]
high_loss_average_population = round(high_loss_percapita.population.mean(),2)
low_loss_average_population = round(low_loss_percapita.population.mean(),2)

Run the cell below to see if you identified the correct averages!

In [67]:
high_result = testing.run_test(high_loss_average_population, 'high_loss_average_population')
low_result = testing.run_test(low_loss_average_population, 'low_loss_average_population')

‚úÖ **Hey, you did it.  Good job.**

‚úÖ **Hey, you did it.  Good job.**